## Analytics: Cubes and Rollups

or
## Buying booties for beasts

### Setup

In [2]:
!pip install ipython_sql

Requirement already satisfied (use --upgrade to upgrade): ipython-sql in /Volumes/exlinux/virt2/ve/jup/lib/python3.5/site-packages
Requirement already satisfied (use --upgrade to upgrade): sqlparse in /Volumes/exlinux/virt2/ve/jup/lib/python3.5/site-packages (from ipython-sql)
Requirement already satisfied (use --upgrade to upgrade): prettytable in /Volumes/exlinux/virt2/ve/jup/lib/python3.5/site-packages (from ipython-sql)
Requirement already satisfied (use --upgrade to upgrade): sqlalchemy>=0.6.7 in /Volumes/exlinux/virt2/ve/jup/lib/python3.5/site-packages (from ipython-sql)
Requirement already satisfied (use --upgrade to upgrade): ipython>=1.0 in /Volumes/exlinux/virt2/ve/jup/lib/python3.5/site-packages (from ipython-sql)
Requirement already satisfied (use --upgrade to upgrade): six in /Volumes/exlinux/virt2/ve/jup/lib/python3.5/site-packages (from ipython-sql)
Requirement already satisfied (use --upgrade to upgrade): ipython-genutils>=0.1.0 in /Volumes/exlinux/virt2/ve/jup/lib/python3.5/site-packages (from ipython-sql)
Requirement already satisfied (use --upgrade to upgrade): backports.shutil-get-terminal-size in /Volumes/exlinux/virt2/ve/jup/lib/python3.5/site-packages (from ipython>=1.0->ipython-sql)
Requirement already satisfied (use --upgrade to upgrade): appnope in /Volumes/exlinux/virt2/ve/jup/lib/python3.5/site-packages (from ipython>=1.0->ipython-sql)
Requirement already satisfied (use --upgrade to upgrade): pexpect in /Volumes/exlinux/virt2/ve/jup/lib/python3.5/site-packages (from ipython>=1.0->ipython-sql)
Requirement already satisfied (use --upgrade to upgrade): simplegeneric>0.8 in /Volumes/exlinux/virt2/ve/jup/lib/python3.5/site-packages (from ipython>=1.0->ipython-sql)
Requirement already satisfied (use --upgrade to upgrade): setuptools>=18.5 in /Volumes/exlinux/virt2/ve/jup/lib/python3.5/site-packages (from ipython>=1.0->ipython-sql)
Requirement already satisfied (use --upgrade to upgrade): pickleshare in /Volumes/exlinux/virt2/ve/jup/lib/python3.5/site-packages (from ipython>=1.0->ipython-sql)
Requirement already satisfied (use --upgrade to upgrade): gnureadline in /Volumes/exlinux/virt2/ve/jup/lib/python3.5/site-packages (from ipython>=1.0->ipython-sql)
Requirement already satisfied (use --upgrade to upgrade): decorator in /Volumes/exlinux/virt2/ve/jup/lib/python3.5/site-packages (from ipython>=1.0->ipython-sql)
Requirement already satisfied (use --upgrade to upgrade): traitlets in /Volumes/exlinux/virt2/ve/jup/lib/python3.5/site-packages (from ipython>=1.0->ipython-sql)
Requirement already satisfied (use --upgrade to upgrade): ptyprocess>=0.5 in /Volumes/exlinux/virt2/ve/jup/lib/python3.5/site-packages (from pexpect->ipython>=1.0->ipython-sql)
You are using pip version 7.1.2, however version 9.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [6]:
!pip install psycopg2

Collecting psycopg2
  Using cached psycopg2-2.6.2.tar.gz
Installing collected packages: psycopg2
  Running setup.py install for psycopg2
Successfully installed psycopg2-2.6.2
You are using pip version 7.1.2, however version 9.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [21]:
!createdb animals

createdb: database creation failed: ERROR:  database "animals" already exists

In [22]:
!psql -f setup.sql animals

psql:setup.sql:1: NOTICE:  drop cascades to constraint species_class_id_fkey on table species
DROP TABLE
CREATE TABLE
INSERT 0 3
psql:setup.sql:9: NOTICE:  drop cascades to constraint animal_species_id_fkey on table animal
DROP TABLE
CREATE TABLE
INSERT 0 5
DROP TABLE
CREATE TABLE
INSERT 0 8

In [4]:
%load_ext sql

In [7]:
%sql postgresql://:@/animals

'Connected: @animals'

### Data

In [23]:
%%sql
SELECT a.*,
       s.name AS species
FROM   animal a
JOIN   species s ON (a.species_id = s.id)

8 rows affected.

[('Bumpy', 1, 4, 'black', True, 'cat'),
 ('Rascal', 1, 3, 'orange', True, 'cat'),
 ('Noah', 1, 4, 'gray', False, 'cat'),
 ('Biting', 3, 4, 'bay', True, 'horse'),
 ('Prince', 3, 4, 'gray', True, 'horse'),
 (None, 5, 10, None, False, 'cuttlefish'),
 (None, 4, 4, 'green', False, 'lizard'),
 ('Tachyon', 2, 4, 'green', False, 'turtle')]

In [10]:
%%sql
SELECT SUM(a.limbs), 
       c.name AS class
FROM   animal a
JOIN   species s ON (a.species_id = s.id)
JOIN   bio_class c ON (s.class_id = c.id)
GROUP BY c.name

3 rows affected.

[(10, 'mollusk'), (8, 'reptile'), (19, 'mammal')]

In [24]:
%%sql
SELECT SUM(a.limbs), 
       a.color,
       c.name AS class
FROM   animal a
JOIN   species s ON (a.species_id = s.id)
JOIN   bio_class c ON (s.class_id = c.id)
GROUP BY (a.color, c.name)

6 rows affected.

[(4, 'bay', 'mammal'),
 (4, 'black', 'mammal'),
 (8, 'gray', 'mammal'),
 (10, None, 'mollusk'),
 (3, 'orange', 'mammal'),
 (8, 'green', 'reptile')]

In [25]:
%%sql
SELECT SUM(a.limbs), 
       a.tame,
       c.name AS class
FROM   animal a
JOIN   species s ON (a.species_id = s.id)
JOIN   bio_class c ON (s.class_id = c.id)
GROUP BY (a.tame, c.name)

4 rows affected.

[(10, False, 'mollusk'),
 (4, False, 'mammal'),
 (8, False, 'reptile'),
 (15, True, 'mammal')]

So far so good.  But what if 

- the table is huge
- we need to precalculate values
- user may need variety of groupings
  - species
  - class
  - color
  - tame
  - species + color
  - color + tame
  - class + color + tame
  - ...

### Cubes

In [28]:
%%sql
SELECT SUM(a.limbs), 
       a.color,`
       a.tame,
       s.name AS species,
       c.name AS class
FROM   animal a
JOIN   species s ON (a.species_id = s.id)
JOIN   bio_class c ON (s.class_id = c.id)
GROUP BY CUBE (color, tame, species, class)
ORDER BY (a.color, a.tame, s.name, c.name) DESC NULLS FIRST;

90 rows affected.

[(37, None, None, None, None),
 (10, None, None, None, None),
 (8, None, None, None, 'reptile'),
 (10, None, None, None, 'mollusk'),
 (10, None, None, None, 'mollusk'),
 (19, None, None, None, 'mammal'),
 (4, None, None, 'turtle', None),
 (4, None, None, 'turtle', 'reptile'),
 (4, None, None, 'lizard', None),
 (4, None, None, 'lizard', 'reptile'),
 (8, None, None, 'horse', None),
 (8, None, None, 'horse', 'mammal'),
 (10, None, None, 'cuttlefish', None),
 (10, None, None, 'cuttlefish', None),
 (10, None, None, 'cuttlefish', 'mollusk'),
 (10, None, None, 'cuttlefish', 'mollusk'),
 (11, None, None, 'cat', None),
 (11, None, None, 'cat', 'mammal'),
 (15, None, True, None, None),
 (15, None, True, None, 'mammal'),
 (8, None, True, 'horse', None),
 (8, None, True, 'horse', 'mammal'),
 (7, None, True, 'cat', None),
 (7, None, True, 'cat', 'mammal'),
 (10, None, False, None, None),
 (22, None, False, None, None),
 (8, None, False, None, 'reptile'),
 (10, None, False, None, 'mollusk'),
 (10, None, False, None, 'mollusk'),
 (4, None, False, None, 'mammal'),
 (4, None, False, 'turtle', None),
 (4, None, False, 'turtle', 'reptile'),
 (4, None, False, 'lizard', None),
 (4, None, False, 'lizard', 'reptile'),
 (10, None, False, 'cuttlefish', None),
 (10, None, False, 'cuttlefish', None),
 (10, None, False, 'cuttlefish', 'mollusk'),
 (10, None, False, 'cuttlefish', 'mollusk'),
 (4, None, False, 'cat', None),
 (4, None, False, 'cat', 'mammal'),
 (3, 'orange', None, None, None),
 (3, 'orange', None, None, 'mammal'),
 (3, 'orange', None, 'cat', None),
 (3, 'orange', None, 'cat', 'mammal'),
 (3, 'orange', True, None, None),
 (3, 'orange', True, None, 'mammal'),
 (3, 'orange', True, 'cat', None),
 (3, 'orange', True, 'cat', 'mammal'),
 (8, 'green', None, None, None),
 (8, 'green', None, None, 'reptile'),
 (4, 'green', None, 'turtle', None),
 (4, 'green', None, 'turtle', 'reptile'),
 (4, 'green', None, 'lizard', None),
 (4, 'green', None, 'lizard', 'reptile'),
 (8, 'green', False, None, None),
 (8, 'green', False, None, 'reptile'),
 (4, 'green', False, 'turtle', None),
 (4, 'green', False, 'turtle', 'reptile'),
 (4, 'green', False, 'lizard', None),
 (4, 'green', False, 'lizard', 'reptile'),
 (8, 'gray', None, None, None),
 (8, 'gray', None, None, 'mammal'),
 (4, 'gray', None, 'horse', None),
 (4, 'gray', None, 'horse', 'mammal'),
 (4, 'gray', None, 'cat', None),
 (4, 'gray', None, 'cat', 'mammal'),
 (4, 'gray', True, None, None),
 (4, 'gray', True, None, 'mammal'),
 (4, 'gray', True, 'horse', None),
 (4, 'gray', True, 'horse', 'mammal'),
 (4, 'gray', False, None, None),
 (4, 'gray', False, None, 'mammal'),
 (4, 'gray', False, 'cat', None),
 (4, 'gray', False, 'cat', 'mammal'),
 (4, 'black', None, None, None),
 (4, 'black', None, None, 'mammal'),
 (4, 'black', None, 'cat', None),
 (4, 'black', None, 'cat', 'mammal'),
 (4, 'black', True, None, None),
 (4, 'black', True, None, 'mammal'),
 (4, 'black', True, 'cat', None),
 (4, 'black', True, 'cat', 'mammal'),
 (4, 'bay', None, None, None),
 (4, 'bay', None, None, 'mammal'),
 (4, 'bay', None, 'horse', None),
 (4, 'bay', None, 'horse', 'mammal'),
 (4, 'bay', True, None, None),
 (4, 'bay', True, None, 'mammal'),
 (4, 'bay', True, 'horse', None),
 (4, 'bay', True, 'horse', 'mammal')]

In [30]:
%%sql
SELECT * FROM (
    SELECT SUM(a.limbs), 
           a.color,
           a.tame,
           s.name AS species,
           c.name AS class
    FROM   animal a
    JOIN   species s ON (a.species_id = s.id)
    JOIN   bio_class c ON (s.class_id = c.id)
    GROUP BY CUBE (color, tame, species, class)
    ORDER BY (a.color, a.tame, s.name, c.name) DESC NULLS FIRST
    ) subcube 
WHERE color = 'gray' AND tame = true AND species = 'horse' AND class = 'mammal';

1 rows affected.

[(4, 'gray', True, 'horse', 'mammal')]

All my tame horse mammals, any color (the wrong way)

In [31]:
%%sql
SELECT * FROM (
    SELECT SUM(a.limbs), 
           a.color,
           a.tame,
           s.name AS species,
           c.name AS class
    FROM   animal a
    JOIN   species s ON (a.species_id = s.id)
    JOIN   bio_class c ON (s.class_id = c.id)
    GROUP BY CUBE (color, tame, species, class)
    ORDER BY (a.color, a.tame, s.name, c.name) DESC NULLS FIRST
    ) subcube 
WHERE color IS NULL AND tame = true AND species = 'horse' AND class = 'mammal';

1 rows affected.

[(8, None, True, 'horse', 'mammal')]

Why is that the wrong way?

Well, let's try buying booties for cuttlefish.

In [34]:
%%sql
SELECT * FROM (
    SELECT SUM(a.limbs), 
           a.color,
           a.tame,
           s.name AS species,
           c.name AS class
    FROM   animal a
    JOIN   species s ON (a.species_id = s.id)
    JOIN   bio_class c ON (s.class_id = c.id)
    GROUP BY CUBE (color, tame, species, class)
    ORDER BY (a.color, a.tame, s.name, c.name) DESC NULLS FIRST
    ) subcube 
WHERE color IS NULL AND tame = false AND species = 'cuttlefish' AND class = 'mollusk';

2 rows affected.

[(10, None, False, 'cuttlefish', 'mollusk'),
 (10, None, False, 'cuttlefish', 'mollusk')]

One row is `color=NULL` because it represents all cuttlefish colors.

One row is `color=NULL` because it represents cuttlefish whose color is  `NULL`.

The proper way to distingush these rows is with `GROUPING`.

`GROUPING` forms a bitmap; for each position,

- `0` if the row represents a specific column value
- `1` if the row represents all values of that column

In [35]:
%%sql
SELECT sc.*, sc.grouping_bitmap::bit(4) FROM (
    SELECT SUM(a.limbs), 
           a.color,
           a.tame,
           s.name AS species,
           c.name AS class,
           GROUPING(a.color, a.tame, s.name, c.name) AS grouping_bitmap
    FROM   animal a
    JOIN   species s ON (a.species_id = s.id)
    JOIN   bio_class c ON (s.class_id = c.id)
    GROUP BY CUBE (color, tame, species, class)
    ORDER BY (a.color, a.tame, s.name, c.name) DESC NULLS FIRST
    ) sc

90 rows affected.

[(37, None, None, None, None, 15, '1111'),
 (10, None, None, None, None, 7, '0111'),
 (8, None, None, None, 'reptile', 14, '1110'),
 (10, None, None, None, 'mollusk', 14, '1110'),
 (10, None, None, None, 'mollusk', 6, '0110'),
 (19, None, None, None, 'mammal', 14, '1110'),
 (4, None, None, 'turtle', None, 13, '1101'),
 (4, None, None, 'turtle', 'reptile', 12, '1100'),
 (4, None, None, 'lizard', None, 13, '1101'),
 (4, None, None, 'lizard', 'reptile', 12, '1100'),
 (8, None, None, 'horse', None, 13, '1101'),
 (8, None, None, 'horse', 'mammal', 12, '1100'),
 (10, None, None, 'cuttlefish', None, 5, '0101'),
 (10, None, None, 'cuttlefish', None, 13, '1101'),
 (10, None, None, 'cuttlefish', 'mollusk', 12, '1100'),
 (10, None, None, 'cuttlefish', 'mollusk', 4, '0100'),
 (11, None, None, 'cat', None, 13, '1101'),
 (11, None, None, 'cat', 'mammal', 12, '1100'),
 (15, None, True, None, None, 11, '1011'),
 (15, None, True, None, 'mammal', 10, '1010'),
 (8, None, True, 'horse', None, 9, '1001'),
 (8, None, True, 'horse', 'mammal', 8, '1000'),
 (7, None, True, 'cat', None, 9, '1001'),
 (7, None, True, 'cat', 'mammal', 8, '1000'),
 (10, None, False, None, None, 3, '0011'),
 (22, None, False, None, None, 11, '1011'),
 (8, None, False, None, 'reptile', 10, '1010'),
 (10, None, False, None, 'mollusk', 10, '1010'),
 (10, None, False, None, 'mollusk', 2, '0010'),
 (4, None, False, None, 'mammal', 10, '1010'),
 (4, None, False, 'turtle', None, 9, '1001'),
 (4, None, False, 'turtle', 'reptile', 8, '1000'),
 (4, None, False, 'lizard', None, 9, '1001'),
 (4, None, False, 'lizard', 'reptile', 8, '1000'),
 (10, None, False, 'cuttlefish', None, 9, '1001'),
 (10, None, False, 'cuttlefish', None, 1, '0001'),
 (10, None, False, 'cuttlefish', 'mollusk', 0, '0000'),
 (10, None, False, 'cuttlefish', 'mollusk', 8, '1000'),
 (4, None, False, 'cat', None, 9, '1001'),
 (4, None, False, 'cat', 'mammal', 8, '1000'),
 (3, 'orange', None, None, None, 7, '0111'),
 (3, 'orange', None, None, 'mammal', 6, '0110'),
 (3, 'orange', None, 'cat', None, 5, '0101'),
 (3, 'orange', None, 'cat', 'mammal', 4, '0100'),
 (3, 'orange', True, None, None, 3, '0011'),
 (3, 'orange', True, None, 'mammal', 2, '0010'),
 (3, 'orange', True, 'cat', None, 1, '0001'),
 (3, 'orange', True, 'cat', 'mammal', 0, '0000'),
 (8, 'green', None, None, None, 7, '0111'),
 (8, 'green', None, None, 'reptile', 6, '0110'),
 (4, 'green', None, 'turtle', None, 5, '0101'),
 (4, 'green', None, 'turtle', 'reptile', 4, '0100'),
 (4, 'green', None, 'lizard', None, 5, '0101'),
 (4, 'green', None, 'lizard', 'reptile', 4, '0100'),
 (8, 'green', False, None, None, 3, '0011'),
 (8, 'green', False, None, 'reptile', 2, '0010'),
 (4, 'green', False, 'turtle', None, 1, '0001'),
 (4, 'green', False, 'turtle', 'reptile', 0, '0000'),
 (4, 'green', False, 'lizard', None, 1, '0001'),
 (4, 'green', False, 'lizard', 'reptile', 0, '0000'),
 (8, 'gray', None, None, None, 7, '0111'),
 (8, 'gray', None, None, 'mammal', 6, '0110'),
 (4, 'gray', None, 'horse', None, 5, '0101'),
 (4, 'gray', None, 'horse', 'mammal', 4, '0100'),
 (4, 'gray', None, 'cat', None, 5, '0101'),
 (4, 'gray', None, 'cat', 'mammal', 4, '0100'),
 (4, 'gray', True, None, None, 3, '0011'),
 (4, 'gray', True, None, 'mammal', 2, '0010'),
 (4, 'gray', True, 'horse', None, 1, '0001'),
 (4, 'gray', True, 'horse', 'mammal', 0, '0000'),
 (4, 'gray', False, None, None, 3, '0011'),
 (4, 'gray', False, None, 'mammal', 2, '0010'),
 (4, 'gray', False, 'cat', None, 1, '0001'),
 (4, 'gray', False, 'cat', 'mammal', 0, '0000'),
 (4, 'black', None, None, None, 7, '0111'),
 (4, 'black', None, None, 'mammal', 6, '0110'),
 (4, 'black', None, 'cat', None, 5, '0101'),
 (4, 'black', None, 'cat', 'mammal', 4, '0100'),
 (4, 'black', True, None, None, 3, '0011'),
 (4, 'black', True, None, 'mammal', 2, '0010'),
 (4, 'black', True, 'cat', None, 1, '0001'),
 (4, 'black', True, 'cat', 'mammal', 0, '0000'),
 (4, 'bay', None, None, None, 7, '0111'),
 (4, 'bay', None, None, 'mammal', 6, '0110'),
 (4, 'bay', None, 'horse', None, 5, '0101'),
 (4, 'bay', None, 'horse', 'mammal', 4, '0100'),
 (4, 'bay', True, None, None, 3, '0011'),
 (4, 'bay', True, None, 'mammal', 2, '0010'),
 (4, 'bay', True, 'horse', None, 1, '0001'),
 (4, 'bay', True, 'horse', 'mammal', 0, '0000')]

In [40]:
%%sql
SELECT sc.*, sc.grouping_bitmap::bit(4) FROM (
    SELECT SUM(a.limbs), 
           a.color,
           a.tame,
           s.name AS species,
           c.name AS class,
           GROUPING(a.color, a.tame, s.name, c.name) AS grouping_bitmap
    FROM   animal a
    JOIN   species s ON (a.species_id = s.id)
    JOIN   bio_class c ON (s.class_id = c.id)
    GROUP BY CUBE (color, tame, species, class)
    ORDER BY (a.color, a.tame, s.name, c.name) DESC NULLS FIRST
    ) sc 
WHERE grouping_bitmap & 8 = 8
AND   tame = false AND species = 'cuttlefish' AND class = 'mollusk';

1 rows affected.

[(10, None, False, 'cuttlefish', 'mollusk', 8, '1000')]

Species and class have a hierarchical relationship.  (No non-mollusk cuttlefish)

In [48]:
%%sql
SELECT sc.*, sc.grouping_bitmap::bit(2) FROM (
    SELECT SUM(a.limbs), 
           s.name AS species,
           c.name AS class,
           GROUPING(s.name, c.name) AS grouping_bitmap
    FROM   animal a
    JOIN   species s ON (a.species_id = s.id)
    JOIN   bio_class c ON (s.class_id = c.id)
    GROUP BY CUBE (species, class)
    ORDER BY (s.name, c.name) DESC NULLS FIRST
    ) sc ;

14 rows affected.

[(37, None, None, 3, '11'),
 (8, None, 'reptile', 2, '10'),
 (10, None, 'mollusk', 2, '10'),
 (19, None, 'mammal', 2, '10'),
 (4, 'turtle', None, 1, '01'),
 (4, 'turtle', 'reptile', 0, '00'),
 (4, 'lizard', None, 1, '01'),
 (4, 'lizard', 'reptile', 0, '00'),
 (8, 'horse', None, 1, '01'),
 (8, 'horse', 'mammal', 0, '00'),
 (10, 'cuttlefish', None, 1, '01'),
 (10, 'cuttlefish', 'mollusk', 0, '00'),
 (11, 'cat', None, 1, '01'),
 (11, 'cat', 'mammal', 0, '00')]

In [49]:
%%sql
SELECT sc.*, sc.grouping_bitmap::bit(2) FROM (
    SELECT SUM(a.limbs), 
           s.name AS species,
           c.name AS class,
           GROUPING(c.name, s.name) AS grouping_bitmap
    FROM   animal a
    JOIN   species s ON (a.species_id = s.id)
    JOIN   bio_class c ON (s.class_id = c.id)
    GROUP BY ROLLUP (class, species)
    ORDER BY (c.name, s.name) DESC NULLS FIRST
    ) sc ;

9 rows affected.

[(37, None, None, 3, '11'),
 (8, None, 'reptile', 1, '01'),
 (4, 'turtle', 'reptile', 0, '00'),
 (4, 'lizard', 'reptile', 0, '00'),
 (10, None, 'mollusk', 1, '01'),
 (10, 'cuttlefish', 'mollusk', 0, '00'),
 (19, None, 'mammal', 1, '01'),
 (8, 'horse', 'mammal', 0, '00'),
 (11, 'cat', 'mammal', 0, '00')]

Multiple forms of grouping can be combined

In [51]:
%%sql
SELECT sc.*, sc.grouping_bitmap::bit(4) FROM (
    SELECT SUM(a.limbs), 
           a.color,
           a.tame,
           s.name AS species,
           c.name AS class,
           GROUPING(a.color, a.tame, c.name, s.name) AS grouping_bitmap
    FROM   animal a
    JOIN   species s ON (a.species_id = s.id)
    JOIN   bio_class c ON (s.class_id = c.id)
    GROUP BY CUBE (color, tame), ROLLUP(class, species)
    ORDER BY (a.color, a.tame, c.name, s.name) DESC NULLS FIRST
    ) sc ;

63 rows affected.

[(37, None, None, None, None, 15, '1111'),
 (10, None, None, None, None, 7, '0111'),
 (8, None, None, None, 'reptile', 13, '1101'),
 (4, None, None, 'turtle', 'reptile', 12, '1100'),
 (4, None, None, 'lizard', 'reptile', 12, '1100'),
 (10, None, None, None, 'mollusk', 13, '1101'),
 (10, None, None, None, 'mollusk', 5, '0101'),
 (10, None, None, 'cuttlefish', 'mollusk', 12, '1100'),
 (10, None, None, 'cuttlefish', 'mollusk', 4, '0100'),
 (19, None, None, None, 'mammal', 13, '1101'),
 (8, None, None, 'horse', 'mammal', 12, '1100'),
 (11, None, None, 'cat', 'mammal', 12, '1100'),
 (15, None, True, None, None, 11, '1011'),
 (15, None, True, None, 'mammal', 9, '1001'),
 (8, None, True, 'horse', 'mammal', 8, '1000'),
 (7, None, True, 'cat', 'mammal', 8, '1000'),
 (22, None, False, None, None, 11, '1011'),
 (10, None, False, None, None, 3, '0011'),
 (8, None, False, None, 'reptile', 9, '1001'),
 (4, None, False, 'turtle', 'reptile', 8, '1000'),
 (4, None, False, 'lizard', 'reptile', 8, '1000'),
 (10, None, False, None, 'mollusk', 1, '0001'),
 (10, None, False, None, 'mollusk', 9, '1001'),
 (10, None, False, 'cuttlefish', 'mollusk', 0, '0000'),
 (10, None, False, 'cuttlefish', 'mollusk', 8, '1000'),
 (4, None, False, None, 'mammal', 9, '1001'),
 (4, None, False, 'cat', 'mammal', 8, '1000'),
 (3, 'orange', None, None, None, 7, '0111'),
 (3, 'orange', None, None, 'mammal', 5, '0101'),
 (3, 'orange', None, 'cat', 'mammal', 4, '0100'),
 (3, 'orange', True, None, None, 3, '0011'),
 (3, 'orange', True, None, 'mammal', 1, '0001'),
 (3, 'orange', True, 'cat', 'mammal', 0, '0000'),
 (8, 'green', None, None, None, 7, '0111'),
 (8, 'green', None, None, 'reptile', 5, '0101'),
 (4, 'green', None, 'turtle', 'reptile', 4, '0100'),
 (4, 'green', None, 'lizard', 'reptile', 4, '0100'),
 (8, 'green', False, None, None, 3, '0011'),
 (8, 'green', False, None, 'reptile', 1, '0001'),
 (4, 'green', False, 'turtle', 'reptile', 0, '0000'),
 (4, 'green', False, 'lizard', 'reptile', 0, '0000'),
 (8, 'gray', None, None, None, 7, '0111'),
 (8, 'gray', None, None, 'mammal', 5, '0101'),
 (4, 'gray', None, 'horse', 'mammal', 4, '0100'),
 (4, 'gray', None, 'cat', 'mammal', 4, '0100'),
 (4, 'gray', True, None, None, 3, '0011'),
 (4, 'gray', True, None, 'mammal', 1, '0001'),
 (4, 'gray', True, 'horse', 'mammal', 0, '0000'),
 (4, 'gray', False, None, None, 3, '0011'),
 (4, 'gray', False, None, 'mammal', 1, '0001'),
 (4, 'gray', False, 'cat', 'mammal', 0, '0000'),
 (4, 'black', None, None, None, 7, '0111'),
 (4, 'black', None, None, 'mammal', 5, '0101'),
 (4, 'black', None, 'cat', 'mammal', 4, '0100'),
 (4, 'black', True, None, None, 3, '0011'),
 (4, 'black', True, None, 'mammal', 1, '0001'),
 (4, 'black', True, 'cat', 'mammal', 0, '0000'),
 (4, 'bay', None, None, None, 7, '0111'),
 (4, 'bay', None, None, 'mammal', 5, '0101'),
 (4, 'bay', None, 'horse', 'mammal', 4, '0100'),
 (4, 'bay', True, None, None, 3, '0011'),
 (4, 'bay', True, None, 'mammal', 1, '0001'),
 (4, 'bay', True, 'horse', 'mammal', 0, '0000')]

[Reference](https://www.depesz.com/2015/05/24/waiting-for-9-5-support-grouping-sets-cube-and-rollup/), [reference](https://www.postgresql.org/docs/devel/static/queries-table-expressions.html)